/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3e9dc; /* warm beige */
  color: #4e342e; /* coffee brown */
}